*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0px;
    padding: 0px;
}
body{
    background: linear-gradient(to right, #f5f7fa, #c3cfe2);

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px 50PX 10PX 30PX;
    position: fixed;
    width: 100%;
 
}
.navbar ul{
    display: flex;
    list-style-type: none;
    gap: 100px;
}
.navbar a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
 a:hover{
    color: rgb(78, 195, 234);
}
header h1{
    color: white;
}
.majorty{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 150px 50px 100px;
}
.text h1{
    font-size: 40px;
    margin-bottom: 20px;
    /* text-align: right;
    padding-right: 15px; */
}
.text p{
    margin-bottom: 20px;
    line-height: 1.6;
}
.btn{
    display: inline-block;
    padding: 10px 20px;
    background: #00adb5;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}
.btn a:hover{
    background-color: #007b83;
    transform: scale(105%);
}
.text img{
    width: 400px;
    border-radius: 15px;
}
.servis{
    padding: 100px 50px;
    text-align: center;
}
h2{
    margin-bottom: 25px;
    font-size: 30px;
}
.s-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.card{
    background-color: white;
    padding: 25px;
    border-radius: 15px;
    transform: 0.3s;
}
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
p{
    font-size: 20px;
}
.h2{
    margin-bottom: 50px;
}
.telme{
    text-align: center;
}
footer{
    text-align: center;
    padding: 20px;
    background: #222;
    color: white;
}